<% content_for :title do %>
  <title><%= @post.title %></title>
<% end %>

<p id="notice"><%= notice %></p>

<%= @post.title.html_safe %>
<%= @post.user.email %>
<%= @post.body.html_safe %>

<%= link_to 'Back', posts_path %>
